@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
:root{
  --main-color : #8981d8 ;
  --sec-color : #F8F8F8 ;
}
body {
  margin: 0;
  --font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-main{
  background-color: var(--main-color) !important;
}
.bg-sec{
  background-color: var(--sec-color);
}
.text-main{
  color: var(--main-color) !important;
}
.text-sec{
  color: var(--sec-color) !important;
}
.btn-main{
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 18px;
}
.bg-sec{
  background-color: var(--sec-color);
}
#register .con h2{
  letter-spacing: 1px;
}
#register .con ul li{
  width: 50px;
  height: 50px;
  background-color: #e0e0e7;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
#register .con ul li:hover{
  color: var(--main-color);
}
nav .logo .h2{
  letter-spacing: 1px;
}
.form-control:focus {
  box-shadow: none;
  border-color: transparent;
}

.li-bg {
  cursor: pointer;
  transition: 0.3s all;
}

.li-bg:hover {
  color: var(--main-color) !important;
  transform: translateX(10px);
  transition: 0.3s all;
}
.form-control:focus {
  color: var(--bs-body-color) !important;
  background-color: var(--bs-body-bg) !important;
  border-color: var(--main-color) !important;
  box-shadow: 0 0 0 0 !important;
}
.modal-btn{
  background-color: var(--main-color) !important;
  color: white !important;
}